{% extends 'Aanisite/base.html' %}
{% load i18n %}
{% load static %}

    {% block content %}
    <div id="backgroundPD">
        <div class="container py-4 pt-4">
            <div class="row">
            
                <div id="proimg" class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <img  class="m-auto" width="90%" src="{% static "Aanisite/media/LS hp hero.jpg" %}">
                </div>
                
                <div class="row">
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
                </div>
                
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-10 col-xl-10 m-auto" id="prodcut-description">
                    <p style="font-size: 1.1rem; text-align: justify; text-justify: inter-word;">
                        {% blocktrans %}
                        Aani Darman Pharmaceutical Co. is designed and implemented to produce oral solid
                        dosage forms.Our future products can be classified into several main therapeutic
                        categories; including medicinal products aimed at the treatment cardiovascular
                        diseases, drugs for the treatment of the diseases of the central nervous diseases,
                        Analgesics, and drugs for the treatment of the digestive tract.
                        {% endblocktrans %}
                        </p>
                </div>
                
                
                <div class="row">
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
	            <p class="col-1"><h6 style="font-size:0.1px; color:#f5f6f6; visibility:hidden;">آنی درمان,انی درمان, داروسازی انی درمان, داروسازی آنی درمان, داروسازی ,آنی, درمان ,انی, شرکت آنی درمان,شرکت انی درمان </h6></p>
                 </div>
                
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12" id="product-search">
                        <!--<div class="d-flex">-->
                        <!--    <div class="row m-auto">-->
                        <!--        <div class="info-img p-0">-->
                        <!--             <img src="{% static "Aanisite/media/info.svg" %}"></div>-->
                        <!--        <div class="info-p p-0 m-0">-->
                        <!--            <p class="m-0 p-0">-->
                        <!--                To access products list,both filter must be selected Simultaneously.-->
                        <!--            </p>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--</div><br>-->
                    <form method="GET">
                        <div class="container-fluid">
                            <div class="row">

                                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-center" >
                                    <div class="pd-pic" style="width: 100%;"> <img width=70%
                                            height=97% src="{% static "Aanisite/media/500.png" %}"></div>
                                    <div type="button" class="btn btn-2 col-12" style="width:70%"
                                        data-toggle="collapse" data-target="#category-panel">
                                        {% trans 'Therapeutic Category' %}</div>
                                    <div id="category-panel" class="collapse mx-auto col-12" style="width:70%;">
                                        <div class="form-check"><input class="form-check-input" type="submit" id="1"
                                                value="Cardiovascular Drugs"
                                                name="Cardiovascular Drugs"><label class="form-check-label"
                                                    for="1">{% trans 'Cardiovascular Drugs' %}
                                                </label>
                                                </div>
                                        <div class="form-check"><input class="form-check-input" type="submit" id="2"
                                                value="CNS Drugs" name="CNS Drugs"><label class="form-check-label"
                                                    for="2">{% trans 'CNS Drugs' %}</label></div>
                                        <div class="form-check"><input class="form-check-input" type="submit" id="3"
                                                value="Antidiabetic Drugs"
                                                name="Antidiabetic Drugs"><label class="form-check-label" for="3">
                                                    {% trans 'Antidiabetic Drugs' %}</label>
                                                    </div>
                                        <div class="form-check"><input class="form-check-input" type="submit" id="4"
                                                value="Analgesics" name="Analgesics"><label class="form-check-label"
                                                    for="4">{% trans 'Analgesics' %}</label></div>
                                        <div class="form-check"><input class="form-check-input" type="submit" id="5"
                                                value="Gastrointestinal Drugs"
                                                name="Gastrointestinal Drugs"><label class="form-check-label" for="5">
                                                    {% trans 'Gastrointestinal Drugs' %}</label></div>
                                        <div class="form-check"><input class="form-check-input" type="submit" id="6"
                                                value="Miscellaneous" name="Miscellaneous"><label
                                                    class="form-check-label" for="6">{% trans 'Miscellaneous' %}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-center pr-4">
                                    <div class="pd-pic" style="width: 100%;"> <img width=70%
                                            height=97% src="{% static "Aanisite/media/78.jpg" %}"></div>
                                    
                                    <div type="button" class="btn btn-1 col-12" style="width:71%;" data-toggle="collapse"
                                       data-target="#shape-panel">
                                        {% trans 'Shape'%}
                                    </div>
                                    <div id="shape-panel" class="collapse mx-auto col-12" style="width:70%">

                                        <div class="form-check"><input class="form-check-input" type="submit" id="7"
                                                value="Capsule" name="Capsule"><label class="form-check-label"
                                                    for="7">{% trans 'Capsule' %}</label></div>
                                        <div class="form-check"><input class="form-check-input" type="submit" id="8"
                                                value="Tablet" name="Tablet"><label class="form-check-label"
                                                    for="8">{% trans 'Tablet' %}</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </br>
                    </form>
                </div>
            </div>
        </div>
        

        <div class="container-fluid my-2">
            <div id="products-container" class="row">
                {% if product_list %}
                {% for product in product_list %}
                <div class="cardMainDivleft card col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" style=" border:1px solid yellowgreen;">
                    <img class="card-img-top" src="{{ product.photo.url }}" alt="Card image cap">
                    <div class="card-body">
                        <!-- <h5 class="card-title"><b>{{ product.generic_name }}</b></h5> -->
                         <a href="#" class="btn btn-primary"><b>{{ product.trade_name}}</b></a> 
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}